* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 400px;
  box-shadow: 1px 6px 10px -1px #000000;
  animation-name: calculator-animation;
  animation-duration: 2s;
}

/* The animation code */
@keyframes calculator-animation {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.calculator__input {
  border: none;
  padding: 10px;
  flex: 1 1 auto;
}

.calculator__input:focus {
  outline: none;
}

.calculator__actions-and-numbers {
  display: flex;
}

.calculator__numbers-reset-calculate {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  flex: 1 1 auto;
}

.calculator__numbers {
  background-color: #212121;
  color: #fff;
  text-align: center;
  flex: 0 1 33.33333333%;
  border: 1px solid #f00;
  cursor: pointer;
}

.calculator__numbers:hover {
  background-color: #0e0e0e;
}

.calculator__reset-button {
  background-color: #212121;
  color: #fff;
  text-align: center;
  flex: 0 1 33.33333333%;
  border: 1px solid #f00;
  cursor: pointer;
}

.calculator__calculate-button {
  background-color: #212121;
  color: #fff;
  text-align: center;
  flex: 0 1 33.33333333%;
  border: 1px solid #f00;
  cursor: pointer;
}

.calculator__reset-button:hover {
  background-color: #f00;
}

.calculator__calculate-button:hover {
  background-color: #f00;
}

.calculator__actions {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.calculator__actions button {
  background-color: #00343b;
  color: #fff;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #f00;
}

.calculator__actions button:hover {
  background-color: #f00;
}

.calculator__history {
  position: relative;
  background-color: #00343b;
  color: #fff;
}

.calculator__history-reset-button {
  top: 0;
  right: 0;
  position: absolute;
  border: 0px;
  padding: 10px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  flex: 0 1 33.33333333%;
  cursor: pointer;
}

.calculator__history-reset-button:hover {
  background-color: #f00;
}

.calculator__history-item {
  padding: 0px 30px 0px 0px;
  min-height: 50px;
  position: relative;
  border-top: 1px solid #000;
  margin-bottom: 10px;
}

.calculator__history-item p {
  margin: 0px;
  padding: 0px;
}

.calculator__history-item button {
  top: 0;
  right: 0;
  position: absolute;
  border: 0px;
  padding: 10px;
  background-color: #212121;
  color: #fff;
  text-align: center;
  flex: 0 1 33.33333333%;
  cursor: pointer;
}

.calculator__history-item button:hover {
  background-color: #f00;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-done {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
