* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.mainWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.calculator__form-inner {
  display: flex;
}

.calculator__form-input {
  padding: 10px;
  flex: 1 1 auto;
}

.calculator__form-input:focus {
  outline: none;
}

.calculator__form-button {
  border: 1px solid #000;
  color:#fff;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  background-color: #000;
  cursor: pointer;

}

.calculator__form-button:hover {
  background-color: #f00;
}

.calculator__numbers-actions {
  display: flex;
  flex-wrap: nowrap;
  background-color: #333333;
}

.calculator__numbers-list {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.calculator__numbers-list > li {
  flex: 0 1 calc(100%/4);
  text-align: center;
  padding: 30px;
  background: #333333;
  color: white;
  border: 1px solid #fff;
}

.calculator__numbers-list > li:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.calculator__actions > ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}


.calculator__actions > ul > li {
  padding: 10px 20px 10px 20px;
  background-color: #8f0000;
  color: #fff;
  border-bottom: 1px solid black;
}

.calculator__actions > ul > li:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}


.calculator__history {
  border: 1px solid black;
  background-color: #333333;
  color: #fff;
}

.calculator__history > h2 {
  margin: 10px 0px 10px 0px;
  padding: 0px;
  font-size: 24px;
  border-bottom: 1px solid #fff;
}

.calculator__history-item {
  border-bottom: 1px solid #fff;
}

.calculator__clear-button {
  border: 1px solid #000;
  color:#fff;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  background-color: #000;
  cursor: pointer;
}

.calculator__clear-button:hover {
  background-color: #f00;
}


@media screen and (max-width: 400px){
  .calculator__numbers-list > li {
    flex: 0 1 calc(100%/3);
  }
}

@media screen and (max-width: 320px){
  .calculator__numbers-list > li {
    flex: 0 1 calc(100%/2);
  }
}
